:root{
    --color-darkest: #0d1b2a;
    --color-secondary: #1b263b;
    --color-background: #415a77;
    --color-text: #778da9;
    --color-border: #e0e1dd;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/public/assets/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}